# Python virtual environment
venv/
.env/
.env
# Python cache
__pycache__/
*.py[cod]
*.pyo

# Logs
*.log

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Build / dist
build/
dist/

# SQLite (if used)
*.db